    <h1>Pronostiek WK 2014</h1>
    <div class="row">
      <h3>Stap 1: Voorspel de poulefase</h3>
        <% if @betstatus["Betset"] %>
          <p>Status: <span class="label label-success">Volledig</span> <%= link_to "Bekijk", betset_path(@user.betset.id) %> | <%=link_to "Wijzig", edit_betset_path(@user.betset.id) %> </p>
        <% else %>
          <p>Status: <span class="label label-default">Onvolledig</span> <%= link_to "Vul aan", new_betset_path %></p>
        <% end %>
    </div>
    <div class ='row'>
      <h3>Stap 2: Voorspel de eindfase</h3>
        <% # Round bets are not completed or Betjoker is not completed %>
        <% if !@betstatus['Bettable Status'] || !@betstatus['Joker'] %>
          <% # Global status is Incomplete and link is added to complete it %>
          <p>Status: <span class="label label-default">Onvolledig</span>
          <% if @betstatus["Bettable"][1] %> <%= link_to "Bekijk", bettables_path %> | <%= link_to "Wijzig", bettables_Edit_path, data: { confirm: "Ben je zeker? Indien je doorgaat, worden al je voorspellingen vanaf de kwartfinales gewist."} %></p>
          <% else %> <%= link_to "Vul aan", bettables_New_path %></p>
          <% end %>
          <% if false %>        
            <ol class="rounds">
              <% # Go through all the Rounds and mark them as completed or incomplete %>
              <% Round.all.each do |round| %>
               <li>
                <% # Not completed round %>
                <% if @betstatus["Bettable"][round.id] %><%= round.name %>:
                  <span class="label label-success">Completed</span> 
                <% else %>
                <% # Completed round %>
                  <%= round.name %>:
                  <% if round.previous %>
                    <% if @betstatus["Bettable"][round.previous.id] %>
                      <span class="label label-danger">Ongoing</span>
                    <% else %>
                      <span class="label label-default">Incomplete</span>
                    <% end %>
                  <% else %>
                    <span class="label label-default">Incomplete</span>
                  <% end %>
                <% end %>
              </li>
              <% end %>
            </ol>
            <% end %>

        <% # Round bets are completed and Betjoker is completed %>
        <% else %>
          <p>Status: <span class="label label-success">Volledig</span> <%= link_to "Bekijk", bettables_path %> | <%= link_to "Wijzig", bettables_Edit_path, data: { confirm: "Ben je zeker? Indien je doorgaat, worden al je voorspellingen vanaf de kwartfinales gewist."} %></p>
            <% if false %>
            <ol class="rounds">
              <% Round.all.each do |round| %>
               <li><%= round.name %>: <span class="label label-success">Completed</span> </li>
              <% end %>
            </ol>
            <% end %>
        <% end %>


    </div>
    <div class='row'>
      <h3>Stap 3: Wacht op de deadline</h3>
      <p> Je pronostiek wordt definitief bij het verstrijken van de deadline. <br>Vanaf dan heb je toegang tot de pronostiek van de andere deelnemers en de tussenstand.</p>
    </div>


