<% provide(:title, 'All users') %>
<% if !open? %><h1>Tussenstand</h1>
<% else %>
<h1>Deelnemers</h1>
<% end %>
<% if current_user.admin? %>
<script type="text/javascript">
	
	$(document).ready(function(){
	    $(".payment").on("change", function() {
	        $.ajax({
	        	type: "POST",
	            url: "/users/payed/"+this.value,
	            data: {"payed": this.checked }, 
	            success: function() { alert('Betaling geregistreerd.') },
	            error: function() { alert('Fout bij het verwerken van de betaling.')}
	        });
	    });
	});

</script>
<% end %>
<div class="row">
	<div class="span12">
		
	<table class="table">
		<thead>
			<tr>
				<th>
					Positie
				</th>
				<th>
					Naam
				</th>
				<th>
					Score
				</th>
				<% if current_user.admin? %>
					<th>Status</th>
					<th>Betaling</th>
					<th>Actie</th>
				<% end %>
		</thead>
		<tbody>
		<% User.order('score DESC').each_with_index do |user, index| %>
			<%= render user, :index => index %>
		<% end %>
	</tbody>
	</table>
</div>
</div>
<hr>
<% if !open? %>
<div class="row">
	<div class="span12">
		<h2>Recente wedstrijden</h2>
		<% @prev_games = Game.where("playdate <= :today and homescore IS NOT null and awayscore IS NOT null", :today => Date.today).last(4) %>
		<% if !@prev_games.blank? %>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Datum</th>
						<th>Wedstrijd</th>
						<th>Uitslag</th>
						<% User.all.each do %>
						<% |user| %>
						<th>
							<%= user.name[0..2] %>
						</th>
						<% end %>
					</tr>
				</thead>
				<% @prev_games.each do |game| %>
				<tr>
					<td><%= game.playdate %></td>
					<td><%= game.homeside + " - " + game.awayside %></td>
					<td><%= game.homescore.to_s + " - " + game.awayscore.to_s %></td>
					<% User.all.each do %>
					<% |user| %>
					<% @bet = Bet.where(betset_id: Betset.where(user_id: user.id), game_id: game.id).first %>
					<% if !@bet.nil? %>
						<% if @bet.scored %>
							<% if @bet.score == 0 %>
								<td class="bad_result">
							<% elsif @bet.score == 2 %>
								<td class="ok_result">
							<% elsif @bet.score > 2 %>
								<td class="good_result">
							<% end %>
						<% else %>
							<td>
						<% end %>
						<%= @bet.homescore.to_s + " - " + @bet.awayscore.to_s %>
					</td>
					<% else %>
						<td> - </td>
					<% end %>
					<% end %>
				</tr>
				<% end %>	
			</table>
		<% else %>
			Geen wedstrijden gevonden !
		<% end %>	
	</div>
	<% @next_games = Game.where("playdate >= :today and homescore IS null and awayscore IS null", :today => Date.today).first(4) %>
	<% if !@next_games.blank? %>
	<div class="span12">
		<h2>Eerstvolgende wedstrijden</h2>
		<% @next_games.each do |game| %>
		<% odds = game.get_odds %>
		<% bets = game.get_bets %>
			<table class="table table-bordered">
				<col />
				<% if !bets["1"].empty? %>
				<col span=<%= bets["1"].size %>/>
				<% end %>
				<% if !bets["X"].empty? %>
				<col span=<%= bets["X"].size %>/>
				<% end %>
				<% if !bets["2"].empty? %>
				<col span=<%= bets["2"].size %>/>
				<% end %>
				<tr>
					<th rowspan="3" class="game-cell"><%= game.homeside %> - <%= game.awayside %><br><i> <%= game.playdate %></i></th>
					<% if !bets["1"].empty? %>
						<th colspan=<%= bets["1"].size %> class="odds-column">1 : <%= odds["1"].to_s[0..3] %>% </th>
					<% end %>
					<% if !bets["X"].empty? %>
						<th colspan=<%= bets["X"].size %> class="odds-column">X : <%= odds["X"].to_s[0..3] %>% </th>
					<% end %>
					<% if !bets["2"].empty? %>
						<th colspan=<%= bets["2"].size %> class="odds-column">2 : <%= odds["2"].to_s[0..3] %>%</th>
					<% end %>
				</tr>
				<tr>
					<% if !bets["1"].empty? %>
						<% bets["1"].each do %>
							<% |bet| %>
							<th><%= bet.betset.user.name[0..2] %></th>
						<% end %>
					<% end %>
					<% if !bets["X"].empty? %>
						<% bets["X"].each do %>
							<% |bet| %>
							<th><%= bet.betset.user.name[0..2][0..2] %></th>
						<% end %>
					<% end %>
					<% if !bets["2"].empty? %>
						<% bets["2"].each do %>
							<% |bet| %>
							<th><%= bet.betset.user.name[0..2] %></th>
						<% end %>
					<% end %>
				</tr>
				<tr>
					<% if !bets["1"].empty? %>
						<% bets["1"].each do %>
							<% |bet| %>
							<td><%= bet.homescore %> - <%= bet.awayscore %></td>
						<% end %>
					<% end %>
					<% if !bets["X"].empty? %>
						<% bets["X"].each do %>
							<% |bet| %>
							<td><%= bet.homescore %> - <%= bet.awayscore %></td>
						<% end %>
					<% end %>
					<% if !bets["2"].empty? %>
						<% bets["2"].each do %>
							<% |bet| %>
							<td><%= bet.homescore %> - <%= bet.awayscore %></td>
						<% end %>
					<% end %>
				</tr>
			</table>
		<% end %>	
	
	</div>
</div>
	<% else %>
	<% @prev_table = Table.last %>
		<% if @prev_table %>
			<% @next_round = Round.where("teams < ?", @prev_table.round.teams).first %>
			<% @bettables = Bettable.where(round: @prev_table.round).order("user_id") %>
			<div class="row"><div class="span12">
				<h2>Uitslag <%= @prev_table.round.name %></h2>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Uitslag</th>
						<% @bettables.each do %>
							<% |bettable| %>
							<th><%= bettable.user.name[0..2] %></th>
						<% end %>
					</tr>
				</thead>
				<% (1..@prev_table.round.teams).each do |i| %>
					<tr>
						<td><%= Country.find(@prev_table.countries.order("id").ids[i-1]).name %></td>
						<% @bettables.each do |bettable| %>
							<% country_id = bettable.countries.order("id").ids[i-1] %>
							<% if @prev_table.countries.exists?(country_id) %>
								<td class="good_result"%>
							<% else %>
								<td class="bad_result"%>
							<% end %>	
								<%= Country.find(country_id).name %>
							</td>
						<% end %>
					</tr>
				<% end %>
			</table>
			</div></div>
		<% else @next_round = Round.first %>
		
		<% if @next_round %>
			<% @bettables = Bettable.where(round: @next_round) %>
				<div class="row"><div class="span12">
					<h2>Pronostiek <%= @next_round.name %></h2>
				<table class="table table-bordered">
					<thead>
						<tr>
							<% @bettables.each do %>
								<% |bettable| %>
								<th><%= bettable.user.name[0..2] %></th>
							<% end %>
						</tr>
					</thead>
					<% (1..@next_round.teams).each do |i| %>
						<tr>
							<% @bettables.each do |bettable| %>
								<% country_id = bettable.countries.order("id").ids[i-1] %>
								<td>
									<%= Country.find(country_id).name %>
								</td>
							<% end %>
						</tr>
					<% end %>
				</table>
				</div></div>

	<% end %>

	<% end %>


	

	<% end %>
	
	<% end %>	