<tr>
	<td>
		<%= game.playdate %>
	</td>
	<td>
		<%= game.homeside %>
	</td>
	<td>
		<%= game.awayside %>
	</td>
	<td>
		<% if !@bet.nil? %>
 		<%= @bet.homescore %>
	</td>
	<td>
		<%= @bet.awayscore %>	
		<% else %>
 		<%= game.homescore %>
 	</td>
 	<td>
 		<%= game.awayscore %>

 		<% end %>
 	</td>
</tr>