<tr>
	<td>
		<%= game.group %>
	</td>
	<td>
		<%= game.playdate %>
	</td>
	<td>
		<%= game.homeside %>
	</td>
	<td>
		<%= game.awayside %>
	</td>
	<% if !@bet.nil? %>
		<% if @bet.scored %>
			<% if @bet.score == 0 %>
				<td class="bad_result">
			<% elsif @bet.score == 1 %>
				<td class="ok_result">
			<% elsif @bet.score > 1 %>
				<td class="good_result">
			<% end %>
		<% else %>
			<td>
		<% end %>
 			<%= @bet.homescore.to_s + "-" + @bet.awayscore.to_s %>	
	<% else %>
		<td>
			<%= "-" %>
		<% end %>
 	</td>
 	<td>
 		<% if !game.homescore.nil? && !game.awayscore.nil? %>
 			<%= game.homescore.to_s + "-" + game.awayscore.to_s %>
 		<% else %>
 			<%= "-" %>
 		<% end %>
 	</td>
 	<td>
 		<% if !@bet.nil? %>
	 		<% if @bet.scored %>
	 				<%= @bet.score %>
				<% else %>
					<%= "-" %>	
			<% end %>
		<% else %>
			<%= "-" %>
		<% end %>
	</td>
</tr>