<tr>
	<td>
		<%= game.group %>
	</td>
	<td>
		<%= game.playdate %>
	</td>
	<td>
		<%= game.homeside %>
	</td>
	<td>
		<%= game.awayside %>
	</td>
	<td>
		<% if !@bet.nil? %>
 			<%= @bet.homescore.to_s + "-" + @bet.awayscore.to_s %>	
		<% else %>
			<%= "-" %>
		<% end %>
 	</td>
 	<td>
 		<% if !game.homescore.nil? && !game.awayscore.nil? %>
 			<%= game.homescore.to_s + "-" + game.awayscore.to_s %>
 		<% else %>
 			<%= "-" %>
 		<% end %>
 	</td>
 	<td>
 		<% if !@bet.nil? %>
	 		<% if @bet.scored %>
	 				<%= @bet.score %>
				<% else %>
					<%= "-" %>	
			<% end %>
		<% else %>
			<%= "-" %>
		<% end %>
	</td>
</tr>