<% provide(:title, 'Fill in Round results') %>
<h1>Results for the <%= @round.name %>?</h1>
	<%= form_for @table do |f| %>
	<div class="row">
			<%= f.hidden_field :round_id, value: @round.id %>
			<%= render 'shared/error_messages', object: f.object %>

				<% ("A".."H").each do |x| %>
					<% countries = @countries.where(group: x) %>
					<% if !countries.first.nil? %>
						<div class="span3">
							<h2><%= "Groep "+ x.to_s %></h2>
							<ul>
							<% countries.each do |country| %>
								<li><%= check_box_tag 'country_ids[]', country.id, @table.countries.exists?(id: country.id) , required:false,  maxlength: @round.teams %>
								<%= country.name %>
							</li>
							<% end %>
						</ul>
						</div>
					<% end %>
				<% end %>
		<%= f.submit "Submit", class: "btn btn-large btn-primary" %>
	</div>
	<% end %>
