<% provide(:title, 'Next round contenders') %>
<script type="text/javascript">
	
	$(document).ready(function(){
		$("form").validate();
	})

</script>
<% if @next_bet_round.teams == 1 %>
		<h1>Wie wordt wereldkampioen?</h1>
	<% else %>
		<h1>Welke landen stoten door naar de <%= @next_bet_round.name %>?</h1>
	<% end %>
	<%= form_for @next_bettable do |f| %>
		<%= f.hidden_field :user_id, value: current_user.id %>
		<%= f.hidden_field :round_id, value: @next_bet_round.id %>
		<%= render 'shared/error_messages', object: f.object %>
	<div class="row">
		<div id="error_explanation">
			<label for="country_ids[]" class="error"></span>
	 	</div>
	</div>
<div class="row">


	<% ("A".."H").each do |x| %>
		<% countries = @next_bet_countries.where(group: x) %>
		<% if !countries.first.nil? %>
			<div class="span3">
				<h2><%= "Groep "+ x.to_s %></h2>
				<ul>
				<% countries.each do |country| %>
					<li><%= check_box_tag 'country_ids[]', country.id, @next_bettable.countries.exists?(id: country.id) , required:false,  minlength: @next_bet_round.teams, maxlength: @next_bet_round.teams %>
					<%= country.name %>
				</li>
				<% end %>
			</ul>
			</div>
		<% end %>
	<% end %>

</div><div class="row">
<div class="span2 offset5">
	<%= f.submit "Bevestigen", class: "btn btn-large btn-primary" %>
	<% end %>
</div>
</div>
